* {
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	color: white;
}

body {
	background-color: rgb(27, 27, 27);
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}

main {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer div {
	width: 100%;
}

.navigation {
	border-bottom: solid black 1px;
	font-size: 20px;
	width: 100%;
}

.navigation ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10%;
	margin: 0%;
	padding: 0%;
	flex-wrap: wrap;
}

.navigation li {
	transition: all 2s;
	color: white;
	text-shadow: 2px 2px #000000;
}
.navigation li:hover {
	transform: scale(1.3);
}
#mainPhoto {
	height: 90vh;
	width: 100vw;
}
#mainPhoto img {
	height: 100%;
	width: 100%;
	opacity: 0.7;
}

.mainPhotoContainer {
	position: relative;
	cursor: pointer;
}

.mainPhotoText {
	position: absolute;
	top: 8px;
	left: 16px;
}

.mainPhotoText img {
	width: 10%;
	height: 10%;
}

.aboutUsSection span {
	padding: 5%;
}

.aboutUsSection span h3 {
	animation: pulse 2s infinite;
}

.aboutUsSection h4 {
	width: 100%;
}

.exer {
	height: 20%;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	/* border: solid #000000 1px; */
	justify-content: center;
	display: flex;
	align-items: flex-start;
	position: relative;
	flex-wrap: wrap;
	padding: 5px;
	padding-bottom: 7px;
}

.exerText {
	height: 100%;
	display: grid;
}

.exerPhoto img {
	height: 100%;
	width: 100%;
	transition: all 2s;
}
.exerPhoto img:hover {
	opacity: 0.6;
}

.exerText p {
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.exerColumns {
	display: grid;
	grid-template-columns: auto auto;
	position: relative;
	cursor: pointer;
}

.textShadow {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px #000000;
}

/* ************************************* */
/* Transparent photo */

.opaPhoto img {
	opacity: 0.4;
	cursor: pointer;
}

.opaPhoto img:hover {
	opacity: 1;
}

/* ************************************* */

.displayNone {
	display: none;
}

.hiddenDiv {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-items: center;
	align-items: center;
}

.hiddenDiv img {
	width: 90%;
	height: 90%;
	padding: 5px;
}

.fullpage {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgb(153, 150, 150);
	overflow: hidden;
}

.infoText {
	display: flex;
	justify-content: center;
	align-self: flex-end;
	color: darkgray;
	font-style: italic;
	padding: 5px;
}
/* ************************************* */
/*Keyframes animation*/
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes elementAppear {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.4);
	}
	80% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/* ************************************* */
/*Helpers*/
.pointer {
	cursor: pointer;
}

.center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.ElementAppear {
	animation: 3s elementAppear ease;
}
/* ************************************* */
/* Media querries */
@media only screen and (max-width: 480px) {
	/* For mobile: */
	.navigation ul li {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.exer {
		display: grid;
		grid-template-columns: auto;
	}

	.exerColumns {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.exerText {
		width: 100%;
		display: grid;
		grid-template-columns: auto;
	}

	.hiddenDiv {
		display: grid;
		grid-template-columns: auto;
	}
}
@media only screen and (max-width: 768px) {
	/* For tablets: */
	.exer {
		display: grid;
		grid-template-columns: auto;
	}
	.exerColumns {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.hiddenDiv {
		display: grid;
		grid-template-columns: auto;
	}
}
@media only screen and (min-width: 769px) {
	/* For desktop: */
}

/* ************************************* */
