* {
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
}

body {
	background-color: gray;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}

.navigation {
	border-bottom: solid black 1px;
	font-size: 20px;
	width: 100%;
}

.navigation ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10%;
	margin: 0%;
	padding: 0%;
	flex-wrap: wrap;
}

.navigation li {
	transition: all 2s;
	color: white;
	text-shadow: 2px 2px #000000;
}
.navigation li:hover {
	transform: scale(1.3);
}
#mainPhoto {
	height: 90vh;
	width: 100vw;
}
#mainPhoto img {
	height: 100%;
	width: 100%;
	opacity: 0.7;
}

.mainPhotoContainer {
	position: relative;
}

.mainPhotoText {
	position: absolute;
	top: 8px;
	left: 16px;
}
.mainPhotoText img {
	width: 10%;
	height: 10%;
}
.exer {
	height: 20%;
	width: 100vw;
	border: solid #000000 1px;
	justify-content: center;
	display: flex;
	align-items: flex-start;
	position: relative;
	flex-wrap: wrap;
	padding: 5px;
	padding-bottom: 7px;
}

.exerText {
	height: 100%;
	display: grid;
}
.exerPhoto img {
	height: 100%;
	width: 100%;
	transition: all 2s;
}
.exerPhoto img:hover {
	opacity: 0.6;
}

.exerText p {
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.exerColumns {
	display: grid;
	grid-template-columns: auto auto;
	position: relative;
}

.clickIcoStyle {
	display: flex;
	align-self: start;
	justify-content: center;
}
.clickIcoStyle img {
	transition: all 2s;
}
.clickIcoStyle img:hover {
	transform: scale(1.3);
}
.clickIcoSize {
	width: 5%;
	height: 5%;
}

.textShadow {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px #000000;
}
/* ************************************* */
/* ************************************* */
/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
/* ************************************* */
/* ************************************* */
/* key frames || animations*/

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
/* ************************************* */
/* ************************************* */

.aboutUsSection h4 {
	width: 100%;
}

.center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}
/* ************************************* */
/* Transparent photo */
.transPhoto {
	color: red;
	-webkit-mask-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(0, 0, 0, 1)),
		to(rgba(0, 0, 0, 0))
	);
}
/* ************************************* */

/* ************************************* */

.displayNone {
	display: none;
}

.hiddenDiv {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-items: center;
	align-items: center;
}

.hiddenDiv img {
	width: 90%;
	height: 90%;
	padding: 5px;
}

.fullpage {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

.infoText {
	display: flex;
	justify-content: center;
	align-self: flex-end;
	color: darkgray;
	font-style: italic;
}

/* ************************************* */
/* Media querries */
@media only screen and (max-width: 480px) {
	/* For mobile: */
	.navigation ul li {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.exer {
		display: grid;
		grid-template-columns: auto;
	}

	.exerColumns {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.exerText {
		width: 100%;
		display: grid;
		grid-template-columns: auto;
	}
	.clickIcoStyle {
		width: 100%;
		display: flex;
		align-items: flex-end;
	}
	.hiddenDiv {
		display: grid;
		grid-template-columns: auto;
	}
}
@media only screen and (max-width: 768px) {
	/* For tablets: */
	.exer {
		display: grid;
		grid-template-columns: auto;
	}
	.exerColumns {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.hiddenDiv {
		display: grid;
		grid-template-columns: auto;
	}
}
@media only screen and (min-width: 769px) {
	/* For desktop: */
}

/* ************************************* */
